/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: Inter;
  src:
    local(Inter),
    url(./Inter-Variable.woff2) format('woff supports variations');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: PressStart2P;
  src:
    url(./Raleway-Bold.woff2) format('woff2');
  font-display: swap;
}