/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --card-title-font-weight: 410;
  --card-description-font-weight: 715;
  --accent-regular-font-weight: 400;
  --main-font-size: 14px;
  --card-font-size: 18px;
  --main-color: #000;
  --main-animation-color: #fff;
  --button-animation-color: #000;
  --button-text-animation-color: #fff;
  --watermark-border-color: rgb(255 255 255 / 1);
  --background-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --card-inline-size: clamp(320px, 100%, 700px);
  --card-background-color: #fff;
  --card-border: 2px solid var(--main-color);
  --main-margin: 25px;
  --message-backdrop-color: rgb(0 0 0 / 0.75);
  --floppy-icon-size: 28px;
  --heart-icon-contour: #000;
  --heart-icon-core: transparent;
  --heart-icon-main-body: transparent;
  --animation-fill-color: #f00;
  --animation-hover-color: #000;
}
